* {
    margin: 0;
}

/* HEADER */

/* immagini intestazione */
.img-heading {
    height: 180px;
    background-image: url('../img/pattern.png');
    background-color: #4EA0FF;
}

.logo img {
    width: 300px;
    margin-top: 70px;
}

/* Contenitore */
.container {
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}


/* MAIN */
/* Section Presentation */
/* Autore del sito */
.author {
    color: rgb(128, 128, 128);
    font-weight: 600;
}

.author span {
    color: #2279dc;
}

.img {
    margin-top: 20px;
}

.presentation p {
    font-size: 10px;
}

/* Section Text*/
.text {
    margin-top: 20px;
} 

/* Section List */
.list {
    margin-top: 20px;
}

ul {
    padding-left: 15px;
    ;
}

/* Section Table */
table {
    width: 100%;
    border-spacing: 0px;
    margin-top: 20px;
}

.small {
    width: 20%;
}

.big {
    width: 60%;
}

thead {
    background-color: #2279dc;
    text-align: left;
    color: white;
}

.mark {
    background-color: #B1E5F2;
} 

/* FOOTER */

footer {
    margin-top: 40px;
}

footer p {
    color: gray;
    font-weight: 800;
}

.first-img p {
    background-image: url('../img/monitor.jpg');
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    text-align: left;
    width: 312px;
    height: 190px;
    padding: 20px;
}

.second-img p {
    margin-top: 5px;
    background-image: url('../img/graph.jpg');
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    text-align: left;
    width: 312px;
    height: 190px;
    padding: 20px;
}